@import "tailwindcss";
@theme {
  --color-brand-dark: #1a3a33;
  --color-brand-cream: #f2e7d3;
  --color-brand-cream-light: #fff9ed;
  --color-brand-gold: #b4945b;
  --color-brand-black: #171717;
  --color-brand-footer: #ffffffb2;
  --color-brand-gray: #4f5853;
  --color-brand-border: #cbbda5;
  --font-body: var(--font-body-inter), sans-serif;
  --font-heading: Cambria, Georgia, serif;
}
